<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/uploadfile" method="post" enctype="multipart/form-data">
      <label>ID front image</label>
      <input
        type="file"
        name="ID_front"
        class="form-control"
        accept=".jpeg,.jpg,.png"
      />
      <label>ID Back image</label>
      <input
        type="file"
        name="ID_back"
        class="form-control"
        accept=".jpeg,.jpg,.png"
      />
      <label>Certificate image</label>
      <input
        type="file"
        name="cert"
        class="form-control"
        accept=".jpeg,.jpg,.png"
      />
      <button type="submit">Submit images</button>
    </form>
  </body>
</html>
