<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div
      class="container p-5"
      style="background-color: #b2ebf2; border-radius: 10px"
    >
      <form action="/uploadfile" method="post" enctype="multipart/form-data">
        <label>ID front image</label>
        <input
          type="file"
          name="ID_front"
          class="form-control"
          accept=".jpeg,.jpg,.png"
        />
        <label>ID Back image</label>
        <input
          type="file"
          name="ID_back"
          class="form-control"
          accept=".jpeg,.jpg,.png"
        />
        <label>Certificate image</label>
        <input
          type="file"
          name="cert"
          class="form-control"
          accept=".jpeg,.jpg,.png"
        />
        <button type="submit" class="btn btn-primary mt-2">
          Submit images
        </button>
      </form>
    </div>
    <script>
      let files = document.querySelectorAll("input");
      let btn = document.querySelector("button");
      btn.disabled = true;
      files.forEach((file) => {
        file.addEventListener("change", () => {
          btn.disabled = false;
          files.forEach((file) => {
            if (file.files.length == 0) {
              btn.disabled = true;
            }
          });
        });
      });
    </script>
  </body>
</html>
